.produtohome {
    text-align: center;
    margin: 50px;
    font-family: sans-serif;
    font-size: 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000px;
}

.produtos {
    margin: 100px
}

.card {
    margin-bottom: 30px;
}

.vali {
    margin: 100px;
}